.filter {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
}

/* NOTICE WE COPY THE CODES BELOW INTO THE COMMON, FILTER, filter.module.css */

/* .select {
  width: 200px;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.selectContainer span {
  display: block;
  margin-right: 1rem;
} */
